{%- for subpage in include.subpages -%}

{%- assign subpage_url_array = subpage.url | split: "/" -%}
{%- assign full_path = include.path | append: "/" | append: subpage.url -%}

{%- comment -%} split + join to remove trailing / {%- endcomment -%}
{%- assign current_page = page.url | remove: ".html" | split: "/" | join: "/" -%}

{%- if page.menu_parent -%}
  {%- assign last_length = current_page | split: "/" | last | size -%}
  {%- assign parent_length = current_page | size | minus: last_length | minus: 1 -%}
  {%- assign current_page = current_page | truncate: parent_length, "" -%}
{%- endif -%}

{%- comment -%} root requires special case handling {%- endcomment -%}
{%- if full_path == current_page or (current_page == "" and full_path == "/") -%}
  {%- assign is_current = true -%}
{%- else -%}
  {%- assign is_current = false -%}
{%- endif -%}

{%- comment -%} Handling external links - we effectively throw everything from
  before into the bin {%- endcomment -%}
{%- if subpage.url contains 'https://' -%}
  {%- assign full_path = subpage.url -%}
{%- endif -%}

<div class="menu-item {%- if is_current %} current-menu-item {%- endif -%}">
  {%- unless is_current or subpage.nolink -%}
    <a href="{{ full_path }}">{{ subpage.name }}</a>
  {%- else -%}
    {{- subpage.name -}}
  {%- endunless -%}
  {%- if subpage.children -%}
    {%- include menu.html path=full_path subpages=subpage.children -%}
  {%- endif -%}
</div>
{%- endfor -%}

{%- comment -%} vim: set expandtab tabstop=2 shiftwidth=2 : {%- endcomment -%}
