---
---

@import "{{ site.theme }}";

@media screen and (min-width: 960px) {
	header {
		position: initial;
	}

	footer {
		position: static;
		width: 100%;
		margin-top: 2em;
	}
}

.menu-item {
	border-left: thin solid red;
	padding-left: 0.5em;
	margin: 0.5em;
}

.menu-item>a, .current-menu-item {
	font-weight: bold;
}

.current-menu-item {
	border-left: medium solid red;
}

.current-menu-item-text {
	font-variant: small-caps;
}

p img {
	max-width: 100%;
}

section ul > li > ul {
	margin: 0;
}

// Taken from W3Schools; since Dinky breaks subscript ...
sub {
	vertical-align: sub;
	font-size: smaller;
}

#toggle-menu, label[for=toggle-menu] {
	display: none;
}

@media print, screen and (max-width: 960px) {
	#toggle-menu {
		display: initial;
		position: absolute;
		clip: rect(0,0,0,0);
	}

	label[for=toggle-menu] {
		display: initial;
		font-size: large;
		font-variant: small-caps;
		font-weight: bold;
	}

	.menu-wrapper {
		display: none;
	}

	#toggle-menu:checked ~ .menu-wrapper {
		display: initial;
	}
}

// Responsive iframes, modified from http://www.holgerkoenemann.de/ein-vimeo-oder-youtube-video-responsive-einbinden/
.responsive-iframe-wrapper {
	position: relative;
	padding-top: 0px;
	height: 0;
	overflow: hidden;
}

.responsive-iframe-wrapper > iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
